@model DotaWeb.Models.MatchDetailsModel
@{
	ViewBag.Title = "Home Page";
}
@*enctype = "multipart/form-data",*@

@using (Html.BeginForm("GetMatchData", "Home", FormMethod.Get))
{
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script language="javascript" type="text/javascript" src="~/Scripts/jquery-3.3.1.min.js"></script>
	<script>
		$(document).ready(function () {
			// Accordion is collapsed by default
			$("h1").trigger("click");

			// Collapse when postback
			if (document.referrer.indexOf(document.location.href) == 0) {
				$("h1").trigger("click");
			}

			$('#searchButton').click(function () {
				var isValid = false;
				var errorList = [];
				errorList.push('Enter a valid Match ID or Player ID.');

				var matchID = $('#matchID').val();
				var playerID = $('#playerID').val();

				if (!matchID && !playerID)
					alert("Please enter and ID in at least one of the textboxes.");
				else if (!$.isNumeric(matchID) && !$.isNumeric(playerID))
					alert("Only numeric values are allowed.")
				else
					isValid = true;
			});
		});
	</script>

	<div class="jumbotron">
		<h1 role="button" data-toggle="collapse" data-target="#collapseHeader" aria-expanded="true" aria-controls="collapseHeader">Search match/player</h1>
		<div class="collapse" id="collapseHeader">
			<div class="form-horizontal">
				<div class="form-group">
					@Html.Label("Match ID", "Match ID", new { @class = "col-md-2 control-label" })
					<div class="col-md-10">
						@Html.TextBox("Match ID", null, new { @id = "matchID", @class = "form-control" }) 4169885095
					</div>
				</div>
				<div class="form-group">
					@Html.Label("Player ID", "Player ID", new { @class = "col-md-2 control-label" })
					<div class="col-md-10">
						@Html.TextBox("Player ID", null, new { @id = "playerID", @class = "form-control" })
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-offset-2 col-md-10">
						<input type="submit" id="searchButton" value="Search &raquo;" class="btn btn-primary btn-lg">
					</div>
				</div>
			</div>
		</div>
	</div>

	@*@{*@
	if (@ViewBag.ShowList)
	{
		@Html.DisplayFor(model => model.Game_Mode)
		@Html.DisplayFor(model => model.Duration, "Duration")
		<div>
			<table id="fieldTable" style="width: 100%" class="table">
				<tr>
					<th>
						Hero
					</th>
					<th>
						Player
					</th>
					<th>
						K
					</th>
					<th>
						D
					</th>
					<th>
						A
					</th>
					<th>
						NET
					</th>
					<th>
						LH/DN
					</th>
					<th>
						GPM/XPM
					</th>
					<th>
						DMG
					</th>
					<th>
						HEAL
					</th>
					<th>
						BLD
					</th>
					<th>
						ITEMS
					</th>
				</tr>
				@{
					int i = 0;
					string style;
					foreach (var item in Model.Players)
					{
						i++;
						if (i < 6)
						{
							style = "radiant";
						}
						else
						{
							style = "dire";
						}
						<tr>
							<td style="text-align:center">
								<img src="@Url.Content(item.HeroImage)" alt="HeroImage" title="@Html.DisplayFor(modelItem => item.Name)" />
							</td>
							<td>
								<div class=@style>
									@Html.DisplayFor(modelItem => item.PlayerName)
								</div>
							</td>
							<td>
								<div class=@style>
									@Html.DisplayFor(modelItem => item.Kills)
								</div>
							</td>
							<td>
								<div class=@style>
									@Html.DisplayFor(modelItem => item.Deaths)
								</div>
							</td>
							<td>
								<div class=@style>
									@Html.DisplayFor(modelItem => item.Assists)
								</div>
							</td>
							<td>
								@{ var netWorth = (item.Gold * Model.Duration / 1000) + "K";
									<div class=@style>
										@Html.DisplayFor(modelItem => netWorth)
									</div>
								}
							</td>
							<td>
								@{
									var lhdn = item.Last_Hits + " / " + item.Denies;
									<div class=@style>
										@Html.DisplayFor(modelItem => lhdn)
									</div>
								}
							</td>
							<td>
								@{
									var gpxp = item.Gold_Per_Min + " / " + item.Xp_Per_Min;
									<div class=@style>
										@Html.DisplayFor(modelItem => gpxp)
									</div>
								}
							</td>
							<td>
								@{
									var damage = item.Hero_Damage / 1000 + "K";
									<div class=@style>
										@Html.DisplayFor(modelItem => damage)
									</div>
								}
							</td>
							<td>
								<div class=@style>
									@Html.DisplayFor(modelItem => item.Hero_Healing)
								</div>
							</td>
							<td>
								@{
									<div class=@style>
										@Html.DisplayFor(modelItem => item.Tower_Damage)
									</div>
								}
							</td>
							<td>
								@{
									<div class=@style style="display:inline;float:left">
										<img class="img-circle" src="@Url.Content(item.Item0Image)" alt="Item0 Image" title="@Html.DisplayFor(modelItem => item.Item0)" />
										<img src="@Url.Content(item.Item1Image)" alt="Item1 Image" title="@Html.DisplayFor(modelItem => item.Item1)" />
										<img src="@Url.Content(item.Item2Image)" alt="Item2 Image" title="@Html.DisplayFor(modelItem => item.Item2)" />
										<img src="@Url.Content(item.Item3Image)" alt="Item3 Image" title="@Html.DisplayFor(modelItem => item.Item3)" />
										<img src="@Url.Content(item.Item4Image)" alt="Item4 Image" title="@Html.DisplayFor(modelItem => item.Item4)" />
										<img src="@Url.Content(item.Item5Image)" alt="Item5 Image" title="@Html.DisplayFor(modelItem => item.Item5)" />
										<div style="background-color:dimgrey;display:inline;float:right">
											<img src="@Url.Content(item.Backpack0Image)" alt="Backpack0 Image" title="@Html.DisplayFor(modelItem => item.Backpack0)" />
											<img src="@Url.Content(item.Backpack1Image)" alt="Backpack1 Image" title="@Html.DisplayFor(modelItem => item.Backpack1)" />
											<img src="@Url.Content(item.Backpack2Image)" alt="Backpack2 Image" title="@Html.DisplayFor(modelItem => item.Backpack2)" />
										</div>
									</div>
								}
							</td>
						</tr>
					}

				}
			</table>
		</div>
	}
}

@*alert('yes');
	if (isValid) {
		$.ajax({
			type: "POST",
			url: "/Home/GetMatchData",
			contentType: 'application/json',
			dataType: "json",
			data: JSON.stringify({
				'matchID': matchID, 'playerID': playerID
			}),
			success: function (returnValue) {
				alert(returnValue);
				alert('Success');
			}
		});
	}*@


@*function Toggle() {
		var acc = $(".accordion");
		var i;

		for (i = 0; i < acc.length; i++) {
			acc[i].addEventListener("click", function () {
				this.classList.toggle("active");
				var panel = this.nextElementSibling;
				if (panel.style.display === "block") {
					panel.style.display = "none";
				} else {
					panel.style.display = "block";
				}
			});
		}
	}*@