@model DotaWeb.Models.MatchDetailsModel
@{
	ViewBag.Title = "Home Page";
}
@*enctype = "multipart/form-data",*@

@*@using (Html.BeginForm("GetMatchData", "Home", FormMethod.Get, new { matchID = "213" }))
	{*@

<script language="javascript" type="text/javascript" src="~/Scripts/jquery-3.3.1.intellisense.js"></script>
<script language="javascript" type="text/javascript" src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>
	$(document).ready(function () {
		$('#searchButton').click(function (event) {
			var isValid = false;
			var errorList = [];
			errorList.push('Enter a valid Match ID or Player ID.');

			var matchID = $('#matchID').val();
			var playerID = $('#playerID').val();

			if (!matchID && !playerID)
				alert("Please enter and ID in at least one of the textboxes.");
			else if (!$.isNumeric(matchID) && !$.isNumeric(playerID))
				alert("Only numeric values are allowed.")
			else
				isValid = true;

			if (isValid) {
				$.ajax({
					type: "POST",
					url: "/Home/GetMatchData",
					contentType: 'application/json',
					dataType: "json",
					data: JSON.stringify({
						'matchID': matchID, 'playerID': playerID
					}),
					success: function (returnValue) {
						alert(returnValue);
						alert('Success');
					}
				});
			}
		});
	});
</script>

<div class="jumbotron">
	<h1>Search match/player</h1>
	<div class="form-horizontal">
		<div class="form-group">
			@Html.Label("Match ID", "Match ID", new { @class = "col-md-2 control-label" })
			<div class="col-md-10">
				@Html.TextBox("Match ID", null, new { @id = "matchID", @class = "form-control" }) 4169885095
			</div>
		</div>
		<div class="form-group">
			@Html.Label("Player ID", "Player ID", new { @class = "col-md-2 control-label" })
			<div class="col-md-10">
				@Html.TextBox("Player ID", null, new { @id = "playerID", @class = "form-control" })
			</div>
		</div>
		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<input type="submit" id="searchButton" value="Search &raquo;" class="btn btn-primary btn-lg">
			</div>
		</div>
	</div>
</div>

@{
	if (@ViewBag.ShowList)
	{
		@Html.DisplayFor(model => model.Game_Mode)
		@Html.DisplayFor(model => model.Duration, "Duration")
		<div>
			<table id="fieldTable" border="1">
				<tr>
					<th>
						Player
					</th>
					<th>
						Hero
					</th>
					<th>
						Kills
					</th>
					<th>
						Deaths
					</th>
					<th>
						Assists
					</th>
					<th>
						Net Worth
					</th>
					<th>
						LH/DN
					</th>
					<th>
						GPM/XPM
					</th>
					<th>
						Damage (Hero/Tower)
					</th>
					<th>
						Heal
					</th>
				</tr>
				@{
					var x = ViewBag.MatchDetailsModel;
					foreach (var item in Model.Players)
					{
						<tr>
							<td>
								@*@Html.DisplayNameFor(model => model.Game_Mode)*@
								<div class="label-item">
									@Html.DisplayFor(modelItem => item.PlayerName)
								</div>
							</td>
							<td>
								<div class="label-item">
									@Html.DisplayFor(modelItem => item.Name)
								</div>
							</td>
							<td>
								<div class="label-item">
									@Html.DisplayFor(modelItem => item.Kills)
								</div>
							</td>
							<td>
								<div class="label-item">
									@Html.DisplayFor(modelItem => item.Deaths)
								</div>
							</td>
							<td>
								<div class="label-item">
									@Html.DisplayFor(modelItem => item.Assists)
								</div>
							</td>
							<td>
								@{ var netWorth = (item.Gold * Model.Duration / 1000) + "K";
									<div class="label-item">
										@Html.DisplayFor(modelItem => netWorth)
									</div>
								}
							</td>
							<td>
								@{
									var lhdn = item.Last_Hits + "/" + item.Denies;
									<div class="label-item">
										@Html.DisplayFor(modelItem => lhdn)
									</div>
								}
							</td>
							<td>
								@{
									var gpxp = item.Gold_Per_Min + "/" + item.Xp_Per_Min;
									<div class="label-item">
										@Html.DisplayFor(modelItem => gpxp)
									</div>
								}
							</td>
							<td>
								@{
									var damage = item.Hero_Damage + "/" + item.Tower_Damage;
									<div class="label-item">
										@Html.DisplayFor(modelItem => damage)
									</div>
								}
							</td>
							<td>
								<div class="label-item">
									@Html.DisplayFor(modelItem => item.Hero_Healing)
								</div>
							</td>
						</tr>
					}

				}
			</table>
		</div>
	}
}
LOL

@*<table id="fieldTable1" class="table" width="500">
		<tr>
			<th>
				Player
			</th>
			<th>
				Hero
			</th>
			<th>
				Kills
			</th>
			<th>
				Deaths
			</th>
			<th>
				Assists
			</th>
			<th>
				Net Worth
			</th>
			<th>
				LH/DN
			</th>
			<th>
				GPM/XPM
			</th>
			<th>
				Damage (Hero/Tower)
			</th>
			<th>
				Heal
			</th>
		</tr>
		<tr>
			<td>
				<div class="label-item">
					godzilla4me
				</div>
			</td>
			<td>
				<div class="label-item">
					Bounty Hunter
				</div>
			</td>
			<td>
				<div class="label-item">
					4
				</div>
			</td>
			<td>
				<div class="label-item">
					4
				</div>
			</td>
			<td>
				<div class="label-item">
					20
				</div>
			</td>
			<td>
				<div class="label-item">
					6586682
				</div>

			</td>
			<td>
				<div class="label-item">
					42/1
				</div>

			</td>
			<td>
				<div class="label-item">
					362/431
				</div>

			</td>
			<td>
				<div class="label-item">
					14334/0
				</div>

			</td>
			<td>
				<div class="label-item">
					941
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<div class="label-item">
					Whimsy
				</div>
			</td>
			<td>
				<div class="label-item">
					Spirit Breaker
				</div>
			</td>
			<td>
				<div class="label-item">
					7
				</div>
			</td>
			<td>
				<div class="label-item">
					10
				</div>
			</td>
			<td>
				<div class="label-item">
					13
				</div>
			</td>
			<td>
				<div class="label-item">
					5089245
				</div>

			</td>
			<td>
				<div class="label-item">
					75/4
				</div>

			</td>
			<td>
				<div class="label-item">
					325/388
				</div>

			</td>
			<td>
				<div class="label-item">
					16591/253
				</div>

			</td>
			<td>
				<div class="label-item">
					0
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<div class="label-item">
					Fear he who fears nothing
				</div>
			</td>
			<td>
				<div class="label-item">
					Ember Spirit
				</div>
			</td>
			<td>
				<div class="label-item">
					4
				</div>
			</td>
			<td>
				<div class="label-item">
					3
				</div>
			</td>
			<td>
				<div class="label-item">
					15
				</div>
			</td>
			<td>
				<div class="label-item">
					1969372
				</div>

			</td>
			<td>
				<div class="label-item">
					245/6
				</div>

			</td>
			<td>
				<div class="label-item">
					442/520
				</div>

			</td>
			<td>
				<div class="label-item">
					22291/665
				</div>

			</td>
			<td>
				<div class="label-item">
					0
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<div class="label-item">
					Your Local Bigfoot
				</div>
			</td>
			<td>
				<div class="label-item">
					Ursa
				</div>
			</td>
			<td>
				<div class="label-item">
					12
				</div>
			</td>
			<td>
				<div class="label-item">
					5
				</div>
			</td>
			<td>
				<div class="label-item">
					3
				</div>
			</td>
			<td>
				<div class="label-item">
					734688
				</div>

			</td>
			<td>
				<div class="label-item">
					181/4
				</div>

			</td>
			<td>
				<div class="label-item">
					405/432
				</div>

			</td>
			<td>
				<div class="label-item">
					19029/0
				</div>

			</td>
			<td>
				<div class="label-item">
					0
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<div class="label-item">

				</div>
			</td>
			<td>
				<div class="label-item">
					Bane
				</div>
			</td>
			<td>
				<div class="label-item">
					2
				</div>
			</td>
			<td>
				<div class="label-item">
					6
				</div>
			</td>
			<td>
				<div class="label-item">
					7
				</div>
			</td>
			<td>
				<div class="label-item">
					2015290
				</div>

			</td>
			<td>
				<div class="label-item">
					85/6
				</div>

			</td>
			<td>
				<div class="label-item">
					274/509
				</div>

			</td>
			<td>
				<div class="label-item">
					5760/116
				</div>

			</td>
			<td>
				<div class="label-item">
					0
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<div class="label-item">
					NoName
				</div>
			</td>
			<td>
				<div class="label-item">
					Juggernaut
				</div>
			</td>
			<td>
				<div class="label-item">
					10
				</div>
			</td>
			<td>
				<div class="label-item">
					3
				</div>
			</td>
			<td>
				<div class="label-item">
					13
				</div>
			</td>
			<td>
				<div class="label-item">
					6834129
				</div>

			</td>
			<td>
				<div class="label-item">
					170/4
				</div>

			</td>
			<td>
				<div class="label-item">
					444/503
				</div>

			</td>
			<td>
				<div class="label-item">
					23922/5642
				</div>

			</td>
			<td>
				<div class="label-item">
					6835
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<div class="label-item">

				</div>
			</td>
			<td>
				<div class="label-item">
					Invoker
				</div>
			</td>
			<td>
				<div class="label-item">
					5
				</div>
			</td>
			<td>
				<div class="label-item">
					7
				</div>
			</td>
			<td>
				<div class="label-item">
					9
				</div>
			</td>
			<td>
				<div class="label-item">
					8647890
				</div>

			</td>
			<td>
				<div class="label-item">
					257/20
				</div>

			</td>
			<td>
				<div class="label-item">
					545/563
				</div>

			</td>
			<td>
				<div class="label-item">
					18870/4026
				</div>

			</td>
			<td>
				<div class="label-item">
					0
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<div class="label-item">
					Solid.Miracle
				</div>
			</td>
			<td>
				<div class="label-item">
					Jakiro
				</div>
			</td>
			<td>
				<div class="label-item">
					4
				</div>
			</td>
			<td>
				<div class="label-item">
					8
				</div>
			</td>
			<td>
				<div class="label-item">
					17
				</div>
			</td>
			<td>
				<div class="label-item">
					2397940
				</div>

			</td>
			<td>
				<div class="label-item">
					88/4
				</div>

			</td>
			<td>
				<div class="label-item">
					326/441
				</div>

			</td>
			<td>
				<div class="label-item">
					16568/2210
				</div>

			</td>
			<td>
				<div class="label-item">
					2570
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<div class="label-item">
					&#227;€Œ&#239;&#188;&#179;&#239;&#188;&#163;&#239;&#188;&#181;&#239;&#188;&#180;&#227;€
				</div>
			</td>
			<td>
				<div class="label-item">
					Axe
				</div>
			</td>
			<td>
				<div class="label-item">
					6
				</div>
			</td>
			<td>
				<div class="label-item">
					4
				</div>
			</td>
			<td>
				<div class="label-item">
					8
				</div>
			</td>
			<td>
				<div class="label-item">
					6915761
				</div>

			</td>
			<td>
				<div class="label-item">
					181/3
				</div>

			</td>
			<td>
				<div class="label-item">
					419/505
				</div>

			</td>
			<td>
				<div class="label-item">
					15752/1964
				</div>

			</td>
			<td>
				<div class="label-item">
					0
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<div class="label-item">
					Bashful Swarm Host
				</div>
			</td>
			<td>
				<div class="label-item">
					Vengeful Spirit
				</div>
			</td>
			<td>
				<div class="label-item">
					3
				</div>
			</td>
			<td>
				<div class="label-item">
					7
				</div>
			</td>
			<td>
				<div class="label-item">
					9
				</div>
			</td>
			<td>
				<div class="label-item">
					6168318
				</div>

			</td>
			<td>
				<div class="label-item">
					69/8
				</div>

			</td>
			<td>
				<div class="label-item">
					306/342
				</div>

			</td>
			<td>
				<div class="label-item">
					12008/1599
				</div>

			</td>
			<td>
				<div class="label-item">
					240
				</div>
			</td>
		</tr>

	</table>*@